@import 'client/theme/variables';

$table-border-color: darken($body-bg, 15%);

@import 'packages/bootstrap3-sass/bootstrap';
@import 'client/theme/bootswatch';

.table-calendar {
	table-layout: fixed;

	th {
		@include text-overflow;
	}
}

.calendar-day:hover {
	background-color: $table-bg-hover;
}

.clockpicker-popover {
	z-index: 100000;
}

.day-out-of-month {
	color: $text-muted;
}

.month-title {
	text-align: center;
}

.month-name {
	margin-right: 8px;
	margin-left: 8px;
}

.btn-month-pager {
	background-color: transparent;
	color: $text-color;
}

.pending-member {
	margin-top: 2px;
}

.past-calendar-day {
	background-color: rgba(#fff, .10);
}
